* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0F1B4C;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.85;
}

/* =========== Header ============ */
.header {
    position: relative;
    height: 100vh;
    background-color: #E6F0FF;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 18px 14px;
    display: inline-block;
    text-align: center;
}

.navbar ul a::before {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
    content: attr(title);
    font-weight: 700;
}

.navbar ul a:hover {
    text-decoration: underline;
    font-weight: 700;
}

.action {
    margin-left: auto;
}

.action .action-link {
    color: var(--primary-color);
    margin-right: 18px;
    font-weight: 500;
    font-size: 1.4rem;
}

.action .action-btn {
    padding: 13px 16px;
}

.hero {
    margin-top: 130px;
    width: 50%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5A6473;
    margin-top: 30px;
    margin-bottom: 40px;
}

.hero .hero-cta {
    min-width: 170px;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

.client {
    margin-top: 122px;
}

.client .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7D8589;
}

.client .row-desc {
    margin-top: 23px;
    margin-bottom: 70px;
}

/* Guide */
.guide {
    margin-top: 200px;
}

.guide .sub-title::before {
    content: "";
    display: block;
    background: #000339;
    border-radius: 12px;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    margin: 0 auto 16px;
}

.guide .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guide .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5A6473;
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    text-align: center;
    margin: 0 70px;
}

.guide-item .title {
    margin-top: 26px;
    color: #3B3C45;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.4;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689FF;
    font-weight: 600;
    font-size: 1.4rem;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}